*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
 background: linear-gradient(to left, black, blue);
}

label{
    color: white;
    font-weight: 800;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

input{
    margin-top: 1%;
    font-size: 25px;
    color: red;
   
}
input::placeholder{
    font-size: 18px;
    color: 	#00FA9A;
    font-weight: 700;
}


h1{
    color: white;
    font: 900;
    margin: 5% auto;
}

button{
    margin-top: 5%;
    font-size: 20px;
    background-color: #00FA9A;
    color: red;
    width: 200px;
    height: 60px;
   font-weight: 900;
    cursor: pointer;
    margin-right: 2%;
}